body {
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: 30px auto;
    text-align: center;

}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}

p {
    line-height: 1.8;
}

.btn-success {
    background-color: #333333;
    padding: 20px 30px; 
    border: none;
    border-radius: 0;
    font-family: serif;
    font-weight: bold;
    text-transform: uppercase;
}